.Carousel {
  display: flex;
}

img {
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

.carousel-container {
  position: relative;
}

.bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.7);
  border-left: orange 7px solid;
  z-index: 10;
    width: 25%;

}
